
.ingredient {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 208px;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-primary-color);
  text-align: center;
  text-decoration: none;
}

.ingredientImage {
  width: 240px;
  height: 120px;
}

.ingredientPrice {
  display: flex;
}
