.burgerConstructor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.components {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 656px;
}

/*
.element {
  display: flex;
  align-items: center;
  list-style: none;
}
*/

.edge {
  flex: 0;
}

.drag {
  cursor: move;
}

.panel {
  display: flex;
  justify-content: end;
  align-items: center;
}

.elements {
  display: flex;
  flex-direction: column;
  min-height: 80px;
  overflow: auto;
}
