@import-normalize;

.app {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.main {
  display: flex;
  align-items: stretch;
  margin: 0 auto;
  overflow: hidden;
}

.message {
  align-self: center;
}
