.grid {
  display: grid;
  grid-row-gap: 32px;
  grid-column-gap: 24px;
  grid-template-columns: repeat(2, 272px);
}

.gridItem {
  min-height: 208px;
}

.tabs {
  display: flex;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  /*width: min-content;*/
  height: 100%;
}

.categories::-webkit-scrollbar-track {
  margin-bottom: calc(var(--offset-base-size) * 13);
}
