.header {
  background-color: var(--background);
}

.container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto 1fr;
  width: 1280px;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
}

.end {
  justify-content: flex-end;
}

.items {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.item {
  list-style: none;
}

.link {
  display: flex;
  align-items: center;
  color: var(--text-primary-color);
  text-decoration: none;
}
